@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";

$primary-color: #DD0073;

.btn.btn-minizen {
  background-color: $primary-color;
  color: white;
}