@import "../variable";
@import "~bootstrap/scss/utilities/float";
@import "~bootstrap/scss/utilities/flex";

.action {

  a, span {
    font-size: 20px;
    color: white !important;
    text-decoration: none;
  }
}
